<div class="home">
  <h1>Welcome to the Cute Pet Gallery</h1>
  <div class="pet-gallery">
    <div
      class="pet-card"
      *ngFor="let pet of pets$ | async; trackBy: trackById"
      (click)="toggleCard(pet)"
    >
      <div class="card" [@flipCard]="pet.state">
        <!-- Front of the card -->
        <div class="card-front">
          <img [src]="pet.imageUrl" [alt]="pet.name" />
          <h3>{{ pet.name }}</h3>

          <div class="action">More Details about {{ pet.name }}</div>
        </div>
        <!-- Back of the card -->
        <div class="card-back">
          <img [src]="pet.imageUrl" [alt]="pet.name" />
          <h3>{{ pet.name }}</h3>
          <p>{{ pet.description }}</p>
          <p>Age: {{ calculateAge(pet.birthDate) }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
